$highlightColor: #fdd544;
$hoverCursor: url("/cursor/4653.png"), auto;
$cursor: url("/cursor/22284.png"), auto;


.main {
    background: url("/chateau.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    height: 100vh;
    width: 100%;
    cursor: $cursor;
}

.container {
    position: relative;
    
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    
    background: url("/medievalUI.png"), ;
    background-size: contain;
    background-position: (0, 0);
    top: 50%;
    width: 400px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title {
    position: relative;
    top: 11%;
    left: 25%;
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: #ffff;
}

.btn {
    display: flex;
    position: relative;
    top: 30%;
    left: 19%;
    
}

.googleBtn * {
    cursor: $hoverCursor !important;
}

