$brownColor: #6E401A;
$hoverCursor: url("/cursor/4653.png"), auto;
$cursor: url("/cursor/22284.png"), auto;
$textCursor: url("/cursor/68287.png"), auto;

.navBar {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'MedievalSharp', cursive;
    color: $brownColor;
    font-size: 22px;
    cursor: $cursor;
}


.navBar ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

}

.navBar link {
    text-decoration: none;
}

.image {
    
    cursor: $hoverCursor;
}

.logoContainer {
    cursor: $hoverCursor;
}

.icon {
    border-radius: 0;
    
}

.link {
    text-decoration: none;
    color: white;
    cursor: $hoverCursor;
}

.linkBox {
    display: flex;
    margin: 0 20px;
    align-items: center;
    cursor: $hoverCursor;

}

.linkBox div {
    margin: 0 20px;
    
}

.logoContainer {
    margin: 0 20px;
}

.options {
    position: absolute;
    background: url("/parchemin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -45px -10px;
    z-index: 1000;
    height: 400px;
    width: 300px;
    right: 10px;
    top: 80px;
    transform: translateY(-200%);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    cursor: $hoverCursor;
}

.options.visible {
    transform: translateY(0);
    /* Les éléments descendent lorsqu'ils sont visibles */
    opacity: 1;
    /* Les éléments deviennent visibles */
}

.parchment {
    position: relative;
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    text-align: center;
    
}

.parchment div {
    display: flex;

}

.parchment div p {
    margin-left: 10px;

}

.parchmentLink {
    text-decoration: none;
    color: inherit;
    cursor: $hoverCursor;
    

}

.blade {
    padding-bottom: 15px;
}


